# Xcode
.DS_Store
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
Documentation/latex
Documentation/html
PerformanceTest/test.json
Products/*
Contrib/yajl/share/pkgconfig
CMakeCache.txt
CMakeFiles/

